h2{
    color: green;
    text-align: center;
    text-indent: 20px;
    text-transform: capitalize;
    font-style: Bree Serif;
    border-width: 4px;
    background-color: purple;
    border-color: aquamarine;
    border-radius: 5pxp;
}